---
import Layout from "../../layouts/Base.astro";
import { Image } from "astro:assets";

import TopWing from "../../assets/activity/top/wing.png";
import TopDrive from "../../assets/activity/top/drive.png";
import TopFairing from "../../assets/activity/top/fairing.png";
import TopLinkage from "../../assets/activity/top/linkage.png";
import TopFrame from "../../assets/activity/top/frame.png";
import TopPropeller from "../../assets/activity/top/propeller.png";
import TopAvionics from "../../assets/activity/top/avionics.png";
import TopPilot from "../../assets/activity/top/pilot.png";
---

<Layout
    title="活動紹介"
    description="設計、製作、トレーニング…。私たちの活動は多岐にわたります。ここでは、その一端をご紹介します。"
>
    <section>
        <h1>活動紹介</h1>
        <div class="grid md:grid-cols-2 xl:grid-cols-4 w-full">
            <a href="#Wing">
                <div class="p-1 relative">
                    <Image
                        src={TopWing}
                        alt="Wing"
                        class="w-full h-full object-cover"
                    />

                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center px-12 text-white bg-black/50 text-right"
                    >
                        <h2 class="font-semibold">Wing</h2>
                    </div>
                </div>
            </a>
            <a href="#Drive">
                <div class="p-1 relative">
                    <Image
                        src={TopDrive}
                        alt="Drive"
                        class="w-full h-full object-cover"
                    />

                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center px-12 text-white bg-black/50 text-right"
                    >
                        <h2 class="font-semibold">Drive</h2>
                    </div>
                </div>
            </a>
            <a href="#Fairing" class="p-1">
                <div class="p-1 relative">
                    <Image
                        src={TopFairing}
                        alt="Fairing"
                        class="w-full h-full object-cover"
                    />

                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center px-12 text-white bg-black/50 text-right"
                    >
                        <h2 class="font-semibold">Fairing</h2>
                    </div>
                </div>
            </a>
            <a href="#Linkage" class="p-1">
                <div class="p-1 relative">
                    <Image src={TopLinkage} alt="Linkage" class="w-full h-full object-cover" />
                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center px-12 text-white bg-black/50 text-right"
                    >
                        <h2 class="font-semibold">Linkage</h2>
                    </div>
                </div>
            </a>
            <a href="#Frame" class="p-1">
                <div class="p-1 relative">
                    <Image src={TopFrame} alt="Frame" class="w-full h-full object-cover" />
                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center px-12 text-white bg-black/50 text-right"
                    >
                        <h2 class="font-semibold">Frame</h2>
                    </div>
                </div>
            </a>
            <a href="#Propeller" class="p-1">
                <div class="p-1 relative">
                    <Image
                        src={TopPropeller}
                        alt="Propeller"
                        class="w-full h-full object-cover"
                    />
                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center px-12 text-white bg-black/50 text-right"
                    >
                        <h2 class="font-semibold">Propeller</h2>
                    </div>
                </div>
            </a>
            <a href="#Avionics" class="p-1">
                <div class="p-1 relative">
                    <Image src={TopAvionics} alt="Avionics" class="w-full h-full object-cover" />
                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center px-12 text-white bg-black/50 text-right"
                    >
                        <h2 class="font-semibold">Avionics</h2>
                    </div>
                </div>
            </a>
            <a href="#Pilot" class="p-1">
                <div class="p-1 relative">
                    <Image src={TopPilot} alt="Pilot" class="w-full h-full object-cover" />
                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center px-12 text-white bg-black/50 text-right"
                    >
                        <h2 class="font-semibold">Pilot</h2>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section id="Wing">
        <h2>Wing</h2>
    </section>
    <section id="Drive">
        <h2>Drive</h2>
    </section>
    <section id="Fairing">
        <h2>Fairing</h2>
    </section>
    <section id="Linkage">
        <h2>Linkage</h2>
    </section>
    <section id="Frame">
        <h2>Frame</h2>
    </section>
    <section id="Propeller">
        <h2>Propeller</h2>
    </section>
    <section id="Avionics">
        <h2>Avionics</h2>
    </section>
    <section id="Pilot">
        <h2>Pilot</h2>
    </section>
</Layout>
